h2
{
    color:red;
    font-size:20px;
}
h4{
    color:blue;
}
#p1{
    background:maroon;
    color:white;
    font-family: verdana;
      font-size: 20px;
}
#p2{
    background:black;
    color:white;
}